<html>
 <head>



  </head>
  <body>
      <h1>This is an application.ejs</h1>

      <p>
         this is a <%= "p"  %> tag
      </p>

       <% if (true) {% >
       <p>
this p tag will only get renderd if 'if expression' is true
    </p>
<%}%>



   </body>

</html>
